body {
    font-family: "DejaVu Sans Mono", Courier, monospace;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    max-width: 100vw;
    background: rgb(219, 142, 107);
}

.subtitle {
    font-style: italic;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100vw;
    height: 75vh;
}

.sidebar {
    background-color: skyblue;
    height: 75vh;
    width: 25vw;
}

.sidebar table {
    height: 100%;
    width: 100%;
}

.sidebar td {
    margin: 10px;
    justify-content: center;
}

.sidebar th {
    justify-content: center;
}

.image-greeting {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-height: 75vh;
    width: 75vw;
}

.image {
    flex-grow: 2;
    object-fit: cover;
    max-width: fit-content;
    max-height: fit-content;
}



.greeting {
    margin: 15px;
    flex-grow: 1;
    font-size: 18px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-width: 100vw;
    background-color: teal;
}