body {
    font-family: "DejaVu Sans Mono", Courier, monospace
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    max-width: 100vw;
    background: rgb(219, 142, 107);
}

.subtitle {
    font-style: italic;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100vw;
    height: 70vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: skyblue;
    height: 70vh;
    width: 35vw;
}

.image-greeting {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70vh;
    width: 65vw;
}

.image-greeting img {
    height: 40vh;
    width: fit-content;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    max-width: 100vw;
    background-color: teal;
}