body {
    font-family: "DejaVu Sans Mono", Courier, monospace;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    max-width: 100vw;
    background: rgb(219, 142, 107);
}

.subtitle {
    font-style: italic;
}

.main {
    display: flex;
    flex: 1;
    justify-content: start;
}


.sidebar {
    background-color: skyblue;
    height: 75vh;
    width: 20vw;
}

.sidebar table {
    height: 100%;
    width: 100%;
}

.sidebar td {
    margin: 10px;
    justify-content: center;
    padding-left: 30px;
}

.sidebar th {
    justify-content: center;
}

.greeting-image {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    width: 80vw;
    background-color: peru;
}

.image {
    background-color: pink;
    width: 80vw;
    height: 50vh;

}

.image img {
    object-fit: fill;
    max-height: 60vh;
    width: 80vw;
}

.greeting {
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.greeting p {
    margin: 10px;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-width: 100vw;
    background-color: teal;
}

.entry {
    width: 80vw;
    max-height: 75vh;
    background-color: hsla(350, 50%, 81%, 0.883);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.entry p {
    margin: 15px;
    padding: 30px;
    font-size: 18px;
    line-height: 20px;
}


a {
    color: initial;
    border: 5px;
}

a:hover {
    font-size: 20px;
}

#tech-2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-height: 75vh;
}

.explanation {
    width: 50%;
    max-height: 75vh;
}

.examples {
    width: 50%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.examples img {
    flex-shrink: 3;
    max-height: 50%;
    object-fit: contain;
}

.explanation p {
    font-size: 15px;
}

.examples p {
    font-size: 12px;
}