body {
    font-family: "DejaVu Sans Mono", Courier, monospace;
    margin: 0px;
}

.header {
    min-height: 25vh;
    max-height: fit-content;
    width: 100%;
    background: rgb(219, 142, 107);
    text-align: center;
    margin: 0px;
}

.title {
    margin: 20px;
    padding: 15px;
}

.subtitle {
    font-style: italic;
}

.main {
    display: flex;
    justify-content: start;
    width: 100%;
    max-height: fit-content;
    min-height: 75vh;
}


.sidebar {
    background-color: skyblue;
    width: 25%;
}

.sidebar table {
    height: 100%;
    width: 100%;
}

.sidebar td {
    margin: 10px;
    justify-content: center;
    padding-left: 30px;
}

.sidebar th {
    justify-content: center;
}

.greeting {
    width: 80%;
    background-color: peru;
    text-align: justify;
    font-size: 20px;
}



.greeting img {
    object-fit: fill;
    width: 100%;
    height: 70%;
}


.greeting p {
    margin: 10px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-width: 100vw;
    background-color: teal;
}

.entry {
    width: 80%;
    height: auto;
    background-color: hsla(350, 50%, 81%, 0.883);
    padding: 10px;

}

.entry p {
    margin: 15px;
    padding: 30px;
    font-size: 18px;
    line-height: 20px;
}

.entry img {
    padding-left: 30px;
}


a {
    color: initial;
    border: 5px;
}

a:hover {
    font-size: 20px;
}

