body {
    font-family: "DejaVu Sans Mono", Courier, monospace;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    max-width: 100vw;
    background: rgb(219, 142, 107);
}

.subtitle {
    font-style: italic;
}

.main {
    display: flex;
    flex: 1;
    justify-content: start;
}


.sidebar {
    background-color: skyblue;
    height: 75vh;
    width: 20vw;
}

.sidebar table {
    height: 100%;
    width: 100%;
}

.sidebar td {
    margin: 10px;
    justify-content: center;
    padding-left: 30px;
}

.sidebar th {
    justify-content: center;
}

.greeting-image {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    height: 75vh;
    width: 80vw;
    background-color: peru;
}

.image {
    background-color: pink;
    width: 80vw;
    height: 50vh;

}

.greeting {
    width: 80vw;
    height: 25vh;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-width: 100vw;
    background-color: teal;
}

a {
    color: initial;
}

a:hover {
    font-size: 20px;
}